@font-face {
    font-family: 'Zametka_Parletter';
    src: local('Zametka_Parletter'),
      url('./fonts/Zametka/ZametkaParletter.ttf') format('truetype');
    font-weight: bold;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

#root{
    display: flex;
    justify-content: center;
}

.App{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #7162F1;
}

html {
    scroll-behavior: smooth;
  }